
    <%= form_for([:admin, @administrator]) do |f| %>
        <% if @administrator.errors.any? %>
<!--
        <div id="error_explanation"><h2>入力エラー</h2></div>
-->
    <% end %>

    <table width="0" border="0" cellspacing="0" cellpadding="0" class="input_detail">
        <tr>
            <th scope="col">名前</th>
            <td>
                <div class="input text"><%= f.text_field :name, size: 50, id: 'name', class: '' %></div>
                <% @administrator.errors.messages[:name].each do |message| %><p class="error"><%= message %></p><% end %>
            </td>
        </tr>
        <tr>
            <th scope="col">メール</th>
            <td>
                <div class="input text"><%= f.text_field :email, size: 50, id: 'email', class: ''  %></div>
                <% @administrator.errors.messages[:email].each do |message| %><p class="error"><%= message %></p><% end %>
            </td>
        </tr>
        <tr>
            <th scope="col">パスワード</th>
            <td>
                <div class="input password"><%= f.password_field :password, size: 50, id: 'password', class: ''  %></div>
                <% @administrator.errors.messages[:password].each do |message| %><p class="error"><%= message %></p><% end %>
                <div class="input password"><%= f.password_field :password_confirmation, size: 50, id: 'password_confirmation', class: ''  %></div>
                <% @administrator.errors.messages[:password_confirmation].each do |message| %><p class="error"><%= message %></p><% end %>
            </td>
        </tr>
    </table>
    <p class="btn_add">
        <input name="save" type="image" src="/img/btn_add.png" alt="登録">
    </p>
    </form>
    <% end %>
