<% @mypage = "管理者一覧" %>

    <p id="notice"><%= notice %></p>
    <h2><%= @mypage %></h2>

    <table width="0" border="0" cellspacing="0" cellpadding="0" class="talent_list">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">名前</th>
            <th scope="col">メールアドレス</th>
        </tr>
        <% @administrators.each do |administrator| %>
            <tr>
              <td><%= link_to administrator.id, [:admin, administrator] %></td>
              <td><%= administrator.name %></td>
              <td><%= administrator.email %></td>
            </tr>
        <% end %>
    </table>

    <p class="btn_add"><%= link_to raw('<img src="/admin/img/btn_new.png" alt="新規追加">'), new_admin_administrator_path %></p>
