<% @parent = {"/administrators" => "管理者管理"} %>
<% @mypage = "管理者管理 - 詳細" %>

<p id="notice"><%= notice %></p>

    <h2><%= @mypage %></h2>

    <table width="0" border="0" cellspacing="0" cellpadding="0" class="input_detail">
        </tr>
            <th scope="row">名前</th>
            <td><%= @administrator.name %></td>
        </tr>
        <tr>
            <th scope="row">メール</th>
            <td><%= @administrator.email %></td>
        </tr>
    </table>

    <p class="btn_add">
        <a href="/admin/administrators/<%= @administrator.id %>/edit"><img src="/img/btn_edit.png" alt="編集"></a>
        <a data-confirm="削除したデータは完全に消去されます

削除しますか？" rel="nofollow" data-method="delete" href="/admin/administrators/<%= @administrator.id %>">
        <img src="/img/btn_del.png" alt="削除">
        </a>

        <%= link_to '編集', edit_admin_administrator_path(@administrator) %>
        <%= link_to '削除', admin_administrator_path, method: :delete, data: { confirm: '削除したデータは完全に消去されます

削除しますか？' } %>
    </p>
