<% @mypage = "タレント一覧" %>

    <p id="notice"><%= notice %></p>
    <h2><%= @mypage %></h2>

    <form action="/admin/talents/csv" method="post" name="form1">
    <table width="0" border="0" cellspacing="0" cellpadding="0" class="talent_list">
        <tr>
            <th scope="col"><input name="all" type="checkbox"  onChange="
                var checks = []; for (i=0; i<checks.length; i++) document.getElementById('check[' + checks[i] + ']').checked = this.checked ;">
            </th>
            <th scope="col">ID</th>
            <th scope="col">名前</th>
            <th scope="col">所属</th>
            <th scope="col">プロフィール管理</th>
            <th scope="col">ボイスサンプル管理</th>
            <th scope="col">実績管理</th>
            <th scope="col">非表示</th>
            <th scope="col">削除</th>
        </tr>
        <% @talents.each do |talent| %>
            <tr>
              <td class="cb">
                  <div class="input checkbox">
                      <input type="hidden" name="check[<%= talent.id %>]" value="0"/>
                      <input type="checkbox" name="check[<%= talent.id %>]" value="1" id="check[<%= talent.id %>]">
                  </div>
              </td>
              <td><%= talent.code %></td>
              <td class="align-l"><%= talent.name %></td>
              <td class="align-l"><%= @category_list[talent.category_id] %></td>
              <td><%= link_to 'プロフィール管理', [:admin, talent] %></td>
              <td><%= link_to 'ボイスサンプル管理', [:admin, talent] %></td>
              <td><%= link_to '実績管理', [:admin, talent] %></td>
              <td><%= @display_list[talent.display_flg] %></td>
              <td>
                  <%= link_to raw('<img src="/admin/img/btn_delete.png">'), [:admin, talent], method: :delete, data: { confirm: '削除したデータは完全に消去されます\n\n削除しますか？' } %>
              </td>
            </tr>
        <% end %>
    </table>

    <p class="btn_add"><%= link_to raw('<img src="/admin/img/btn_add_talent.png" alt="新規タレント追加">'), new_admin_administrator_path %></p>

    <table width="0" border="0" cellspacing="0" cellpadding="0" class="dl">
        <tr>
            <th scope="row">チェックしたタレント情報を</th>
            <td><input type="submit" value="CSVダウンロード"></td>
        </tr>
    </table>

    </form>
