<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @talent.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @talent.code %>
</p>

<p>
  <strong>Name kana:</strong>
  <%= @talent.name_kana %>
</p>

<p>
  <strong>Name eng:</strong>
  <%= @talent.name_eng %>
</p>

<p>
  <strong>Category:</strong>
  <%= @talent.category_id %>
</p>

<p>
  <strong>Birth month:</strong>
  <%= @talent.birth_month %>
</p>

<p>
  <strong>Birth day:</strong>
  <%= @talent.birth_day %>
</p>

<p>
  <strong>Prefecture:</strong>
  <%= @talent.prefecture_id %>
</p>

<p>
  <strong>Hometown:</strong>
  <%= @talent.hometown %>
</p>

<p>
  <strong>Hobby:</strong>
  <%= @talent.hobby %>
</p>

<p>
  <strong>Url hp:</strong>
  <%= @talent.url_hp %>
</p>

<p>
  <strong>Url blog:</strong>
  <%= @talent.url_blog %>
</p>

<p>
  <strong>Url tw:</strong>
  <%= @talent.url_tw %>
</p>

<p>
  <strong>Url fb:</strong>
  <%= @talent.url_fb %>
</p>

<p>
  <strong>Url ins:</strong>
  <%= @talent.url_ins %>
</p>

<p>
  <strong>Masterpiece:</strong>
  <%= @talent.masterpiece %>
</p>

<p>
  <strong>Voice mix:</strong>
  <%= @talent.voice_mix %>
</p>

<p>
  <strong>Voice line 1:</strong>
  <%= @talent.voice_line_1 %>
</p>

<p>
  <strong>Voice line 2:</strong>
  <%= @talent.voice_line_2 %>
</p>

<p>
  <strong>Voice line 3:</strong>
  <%= @talent.voice_line_3 %>
</p>

<p>
  <strong>Voice line 4:</strong>
  <%= @talent.voice_line_4 %>
</p>

<p>
  <strong>Voice narration 1:</strong>
  <%= @talent.voice_narration_1 %>
</p>

<p>
  <strong>Voice narration 2:</strong>
  <%= @talent.voice_narration_2 %>
</p>

<p>
  <strong>Voice narration 3:</strong>
  <%= @talent.voice_narration_3 %>
</p>

<p>
  <strong>Voice narration 4:</strong>
  <%= @talent.voice_narration_4 %>
</p>

<p>
  <strong>Voice talk 1:</strong>
  <%= @talent.voice_talk_1 %>
</p>

<p>
  <strong>Voice talk 2:</strong>
  <%= @talent.voice_talk_2 %>
</p>

<p>
  <strong>Voice talk 3:</strong>
  <%= @talent.voice_talk_3 %>
</p>

<p>
  <strong>Voice talk 4:</strong>
  <%= @talent.voice_talk_4 %>
</p>

<p>
  <strong>Voice other 1:</strong>
  <%= @talent.voice_other_1 %>
</p>

<p>
  <strong>Voice other 2:</strong>
  <%= @talent.voice_other_2 %>
</p>

<p>
  <strong>Voice other 3:</strong>
  <%= @talent.voice_other_3 %>
</p>

<p>
  <strong>Voice other 4:</strong>
  <%= @talent.voice_other_4 %>
</p>

<p>
  <strong>Display flg:</strong>
  <%= @talent.display_flg %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @talent.deleted %>
</p>

<%= link_to 'Edit', edit_admin_talent_path(@talent) %> |
<%= link_to 'Back', admin_talents_path %>
