<% @parent = {"/talents" => "タレント一覧"} %>
<% @mypage = "プロフィール管理" %>

<p id="notice"><%= notice %></p>

    <h2><%= @mypage %></h2>

    <table width="0" border="0" cellspacing="0" cellpadding="0" class="input_detail">
        <tr>
            <th scope="row">表示・非表示</th>
            <td><%= @talent.display_flg %></td>
        </tr>
        <tr>
            <th scope="row">カテゴリ</th>
            <td><%= @talent.category_id %></td>
        </tr>
        <tr>
            <th scope="row">タレントID</th>
            <td><%= @talent.code %></td>
        </tr>
        <tr>
            <th scope="row">名前（漢字）</th>
            <td><%= @talent.name %></td>
        </tr>
        <tr>
            <th scope="row">名前（ふりがな）</th>
            <td><%= @talent.name_kana %></td>
        </tr>
        <tr>
            <th scope="row">名前（English）</th>
            <td><%= @talent.name_eng %></td>
        </tr>
        <tr>
            <th scope="row">誕生日</th>
            <td><%= @talent.birth_month %>月<%= @talent.birth_day %>日</td>
        </tr>
        <tr>
            <th scope="row">出身地</th>
            <td><%= @talent.prefecture_id %></td>
        </tr>
        <tr>
            <th scope="row">出身地（その他）</th>
            <td><%= @talent.hometown %></td>
        </tr>
        <tr>
            <th scope="row">特技・趣味</th>
            <td><%= simple_format(@talent.hobby) %></td>
        </tr>
        <tr>
            <th scope="row">SNS（ホームページ）</th>
            <td><%= @talent.url_hp %></td>
        </tr>
        <tr>
            <th scope="row">SNS（Blog）</th>
            <td><%= @talent.url_blog %></td>
        </tr>
        <tr>
            <th scope="row">SNS（Twitter）</th>
            <td><%= @talent.url_tw %></td>
        </tr>
        <tr>
            <th scope="row">SNS（Facebook）</th>
            <td><%= @talent.url_fb %></td>
        </tr>
        <tr>
            <th scope="row">SNS（Instagram）</th>
            <td><%= @talent.url_ins %></td>
        </tr>
        <tr>
            <th scope="row">写真１</th>
            <td><%= @talent.code %></td>
        </tr>
        <tr>
            <th scope="row">写真２</th>
            <td><%= @talent.code %></td>
        </tr>
        <tr>
            <th scope="row">PDF</th>
            <td><%= @talent.code %></td>
        </tr>
        <tr>
            <th scope="row">代表作</th>
            <td><%= simple_format(@talent.masterpiece) %></td>
        </tr>

    </table>

    <p class="btn_add">
        <%= link_to raw('<img src="/admin/img/btn_edit_talent.png" alt="編集">'), edit_admin_talent_path(@talent) %>
    </p>
