<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <title>Ren</title>
        <meta name="Keywords" content="#,">
        <meta name="Description" content="#">

        <link href="/favicon.ico" type="image/x-icon" rel="icon"/><link href="/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
        <link rel="stylesheet" href="/css/import.css"/>
        <script src="/js/jquery-1.9.1.min.js"></script>
        <script src="/js/jquery-ui.js"></script>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
<body>

<header class="header">
    <h1><a href="/"><img src="/img/logo_01.png" alt="タレント管理画面"></a></h1>
    <div class="sub">
    <div class="wrapper">
        <div class="view_site"><a href="/talent/" target="_blank"><img src="/img/btn_01.png" alt="WEBページ確認"></a></div>
                <p class="crumb"><%= render 'bread', {mypage: @mypage, parent: @parent} %></p>
    </div><!--/wrapper-->
    </div><!--/sub-->
</header>
<article>
<div class="wrapper">
    <div class="container clearfix">

<%= yield %>

    </div>

    <footer class="footer">
        <p><a href="/site">TOPへ戻る</a></p>
    </footer>

</div><!--/wrapper-->
</article>
</body>
</html>
