    <p id="notice"><%= notice %></p>

    <ul class="login_menu">
        <li>＞ <%= link_to 'すべて表示',  { :controller => :talents, :action => :index} %></li>
        <li>＞ <%= link_to '女性タレント',  { :controller => :administrators, :action => :index} %></li>
        <li>＞ <%= link_to '男性タレント',  { :controller => :administrators, :action => :index} %></li>
        <li>＞ <%= link_to '女性ジュニア',  { :controller => :administrators, :action => :index} %></li>
        <li>＞ <%= link_to '男性ジュニア',  { :controller => :administrators, :action => :index} %></li>
        <li>＞ <%= link_to 'Memoriam',  { :controller => :administrators, :action => :index} %></li>
        <br>
        <li>＞ <%= link_to '管理者一覧',  { :controller => :administrators, :action => :index} %></li>
    </ul>
